@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  margin-top: 0;
  margin-bottom: 1.25em;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 1.25em;
  padding-left: 1.25em;
  list-style-type: disc;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}
